[submodule "vimpulse"]
	path = vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
[submodule "deft"]
	path = deft
	url = git://jblevins.org/git/deft.git
[submodule "evil"]
	path = evil
	url = git://gitorious.org/evil/evil.git
[submodule "full-ack"]
	path = full-ack
	url = git://github.com/nschum/full-ack.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = https://github.com/haskell/haskell-mode.git
